html, body {
	margin: 0;
	padding: 0;
	font-family: 'Tillana', serif;
}

.sticky {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-size: 24px;
}

.week-drawer {
	position: relative;
	background-image: url("/images/cork.jpeg");
	padding-bottom: 40px;
	.stickies {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 10px;

		header {
			font-size: 16px;
		}
	}
	.toggle-drawer {
		position: absolute;
		bottom: 10px;
		left: 50%;
	}
}

.task-lists-pane {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #F7F7F2;
	box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	header {
		font-size: 18px;
	}
}
